body {
  background-image: url("/AngeeSem.github.io/source/img/background.svg");
  color: #333;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.primary {
  position: fixed;
  top: 12vh;
  left: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 65vh;
  width: 20vw;
  background: rgba(62, 130, 126, 59%);
  color: #fff;
  justify-content: center;
  align-items: center;
}

.name {
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  text-shadow: 0 0 5px rgba(7, 82, 77, 100%);
}

.primary img {
  height: 15vw;
  width: 15vw;
  display: block;
  border-radius: 50%;
  box-shadow: 1px 1px 2vw rgba(7, 82, 77, 100%);
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 11vh;
  right: 0vw;
  left: 35vw;
  height: auto;
  width: 60vw;
  background-color: #fff;
}

section h2 {
  text-align: center;
}
