body {
  background-image: url(source/img/background.svg);
  color: #333;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.primary {
  position: fixed;
  top: 12vh;
  left: 15vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: 65vh;
  width: 20vw;

  background: rgba(62, 130, 126, 59%);

}
.name {
  display: block;
  height: auto;
  width: auto;
  text-align: center;

}

.primary img {
  height: auto;
  width: auto;
}

section {

  display: flex;
  flex-direction: column;
  position: relative;
  top: 11vh;
  right: 0vw;
  left: 35vw;
  height: auto;
  width: 60vw;

  background-color: white;
}

section h2 {
  text-align: center;
}